@media screen and (max-width: 1024px){
    #layout{
        max-width: 1024px;
        padding: 0 15px;
    }

    .section-1{
        padding-top: 80px;
    }

    .section-4 .column-1{
        flex: 60%;
        max-width: 60%;
    }

    .section-4 .column-1, .section-4 .column-2{
        flex: 40%;
        max-width: 40%;
    }

    .section-5{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .section-7 .column{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin-top: 50px;
        align-items: center;
    }

    #footer .section-footer .col {
        padding-left: 45px;
    }
}